@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero-icons {
  height: 25px;
  width: 25px;
}

.login-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

/* Sidebar */
.MuiDrawer-paperAnchorDockedLeft {
  background: #1c1c1e;
}

.MuiCardHeader-title {
  font-size: 14px;
  color: white;
}

.MuiCardHeader-subheader {
  font-size: 12px;
  color: #939294;
}
body {
  max-height: 100vh;
  overflow-x: hidden;
}
